.metadata/
.metadata/*
javaee_workspace/JavaDemo/
javaee_workspace/JSPa/
javaee_workspace/JSPb/
javaee_workspace/JSPc/
javaee_workspace/Servers/.settings/
javaee_workspace/Servers/.*
javaee_workspace/Filter/

