table{
	border: 1px solid black;	
}

.product-table td{
	color:blue;
	text-decoration: underline; 
	cursor: pointer;
}

.reviews-table td{
	color:blue;
	text-decoration: underline; 
	cursor: pointer;
}

.float-right{
	float:right;
}

.float-left{
	float:left;
}

.products{
	display:inline-block;	
}

.specs{
	display:inline-block;	
}

.specs p{
	border-style: ridge;
}

.reviews table{
	display:inline-block;
}

.reviews p{
	display:inline-block;
	border-style: ridge;
}

.reviews input{
	display:block;	
}

.navTabs input{
	background-color:menu;
	font: medium bold;
	text-align: center;
}

.login{
	border:1px solid black;
}

.login input{
	display:inline;
}

#message{
	font-size: medium;
	border:1px solid black;
}

.toolbar li {
	display:inline;
	background-color:#eee;
	border:1px solid;
	border-color:#f3f3f3 #bbb #bbb #f3f3f3;
	margin:0;
	padding:.5em;
	zoom: 1;
	color:blue;
	text-decoration: underline; 
	cursor: pointer
}