@CHARSET "UTF-8";

body{
	background-color:#FFFFFF;
	font:arial, sans-serif;
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
div{
	background-color:#99CCFF;
	width:400px;
	margin-left:auto;
	margin-right: auto;
	height:80px
}
table{
	background-color:#99CCFF;
	font-size:15px;
	font-style:normal;
	margin-left:auto;
	margin-right:auto;
}